* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container div {
    margin: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div span {
    font-size: 2em;
}